
$text-color: #5FC67E;
$light-text-color: #809BBD;
$background-color: #222222;
$font-size: 100px;
$secondary-background-color: #0A5036;
$font-family: Open Sans;
$radius: 20px;
@import "bourbon";

$base-font-size: 16;
$base-line-height: 24;
$rhythm-unit: $base-line-height;
$guide-color: #F3EFC0;

@function rem($target, $context: $base-font-size){
  @if $target == 0{@return 0}
  @return $target / $context + 0em;
}


@mixin baseline-guide(){
  @include background-image (linear-gradient($guide-color 1px, transparent 1px));
background-size: 100% rem($rhythm-unit);
}


body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: $text-color !important;
}

@mixin para-style() {
	border: {
		width: 2px;
		radius: 7px;
		style: solid;
		height: auto;
	}
	background: white;
	text-decoration: underline;
}
@mixin rotate2d($degrees) {
  transform: -webkit-rotate($degrees);
  transform: -moz-rotate($degrees);
  transform: -o-rotate($degrees);
  transform: -ms-rotate($degrees);
  transform: rotate($degrees);
}

.navbar-collapse {
	color: grey;


	&__links {
		list-style: none;
		display: inline-block;
		background: #D8D8D8;
		margin-top: 40px;
		margin-left: 26%;
		color: $light-text-color !important;

		>li {
			float: left;
			border-right: 1px solid white;
		}
	}
	&__links a{

		text-decoration: none;
		display: inline-block;
		padding: 20px;
		font-size: 1.1em;
		margin: 0 auto;
		text-align: center;
	}

	&__links a:hover{
		@include rotate2d (-10deg);
		transition: background 0.5s linear ;
		text-decoration: none;
		display: inline-block;
		color: #50C7E8;
		background: green;

	}

}

.active {
	@include rotate2d (-10deg);
		transition: background 0.5s linear ;
		text-decoration: none;
		display: inline-block;
		color: #50C7E8;
		background: $background-color;
}

.logo {
	margin-bottom: -100px;

	>a {
		height: 30px;
		width: 30px;
	}
}
.topImage {
	background-size: cover;
	margin-left: -25px;
	background: #F3EFC0 ;
}

.jumbotron {
	background-color:$background-color !important;

}

.carousel {

	& >.carousel-control {
		background: $background-color !important;
	}

	& >.carousel-indicators {
		color: green;
	}

}

.img-circle {
	border: {
		style: solid;
		width: 2px;
		color: red;
	}
}

.img-circle:hover {
	@include rotate2d (-360deg);
	cursor: pointer;
}

.middle-content {
	display: none;
}

#next{
margin-left: -300px;
}

/*trial stuff*/

html, body {
	background: url('image/cover2.jpg') !important;
	height: 300px;
	width: 100%;
}

.masthead-nav {
	
	&__links:hover {
	border-bottom-color: red;
}
}



