

$text-color: #00CC66;
$light-text-color: white;
$background-color: #EEEEEE;
$font-size: 100px;
$secondary-background-color: #0A5036;
$font-family: Open Sans;
$radius: 20px;
$from: red;
$to: green;
@import "bourbon";

$base-font-size: 16;
$base-line-height: 24;
$rhythm-unit: $base-line-height;
$guide-color: #F3EFC0;

@function rem($target, $context: $base-font-size){
  @if $target == 0{@return 0}
  @return $target / $context + 0em;
}


@mixin baseline-guide(){
  @include background-image (linear-gradient($guide-color 1px, transparent 1px));
background-size: 100% rem($rhythm-unit);
}



@mixin container-style($height, $width) {
	width: 100%;
	background-size: 100% 100%;
}
@mixin para-style() {
	border: {
		width: 2px;
		radius: 7px;
		style: solid;
		height: auto;
	}
	background: white;
	text-decoration: underline;
}
@mixin rotate2d($degrees) {
  transform: -webkit-rotate($degrees);
  transform: -moz-rotate($degrees);
  transform: -o-rotate($degrees);
  transform: -ms-rotate($degrees);
  transform: rotate($degrees);
}


.active {
	@include rotate2d (-10deg);
		transition: background 0.5s linear ;
		text-decoration: none;
		display: inline-block;
		color: #50C7E8;
		background: white;
}




