.active {
  transform: -webkit-rotate(-10deg);
  transform: -moz-rotate(-10deg);
  transform: -o-rotate(-10deg);
  transform: -ms-rotate(-10deg);
  transform: rotate(-10deg);
  transition: background 0.5s linear;
  text-decoration: none;
  display: inline-block;
  color: #50C7E8;
  background: white; }
