//colors
$white:																				white;
$black:																				black;

//text color 
$default-text-color:																$white;
$text-color:																		#5FC67E;
$light-text-color: 																	#809BBD;


//background
$background-color: 																	#222222;
$secondary-background-color: 														#0A5036;

//navbar colors
$nav-background:																	#5FC67E;

//font-size 
$font-size: 																		14px;
$font-size-lg: 																		24px;
$font-size-xlg: 																	32px;

//font-family 
$default-font-family:																Open Sans;
$secondary-font-family:																"Helvetica Neue",Helvetica,Arial,sans-serif;

//border-radius and radiuses
$default-radius: 																	7px;
$radius: 																			20px;
$half-radius: 																		50px;
$full-radius: 																		100px;

//line-rhythm values
$base-font-size:																	16;
$base-line-height: 																	24;
$rhythm-unit: 																		$base-line-height;
$guide-color: 																		#F3EFC0;

//padding 
$default-padding:																	10px;

//opacity 
$default-opacity:																	0.7;
